---
metaTitle: "Автоматизация рекламных кампаний | AdLead"
permalink: /{{ lang }}/index.html
layout: main
---

<div class="promo">
	<div class="row">
		<div class="col-xs-10">
			<h1>Автоматизация рекламных кампаний</h1>
			<p>Поможем вашему бизнесу в рекламе продукта</p>
		</div>
	</div>
</div>

<div class="features">
	<div class="row middle-sm">
		<div class="col-xs-12 col-sm-6">

			<h3>Автоматизация рекламных кампаний</h3>
			<p>Продвижение вашего товара или услуги в социальных сетях в едином личном кабинете.</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<img src="/assets/images/img1.jpg" alt="">
		</div>
	</div>
	<div class="row middle-sm">
		<div class="col-xs-12 col-sm-6">
			<h3>Проверка рекламных гипотез</h3>
			<p>Поможем оценить эффективность вашей рекламной кампании в социальных сетях в фокус группах.</p>
			<p>Проведение сплит-тестирования рекламной кампании с использованием не настоящих платформ социальных сетей.</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<img src="/assets/images/img2.svg" alt="">
		</div>
	</div>
</div>

<div class="contacts">
	<h3 id="contacts">Наши контакты</h3>

	<div class="email">Почта: <a href="mailto:hello@adlead.ru">hello@adlead.ru</a></div>
</div>